<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
    


        <record id="stock_barcode.stock_barcode_menu" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, 0, [
                ref('logistics_security.group_after_sales_user'),
                ref('logistics_security.group_after_sales_viewer'),
                ref('logistics_security.group_warehouse_user'),
                ref('logistics_security.group_warehouse_viewer')
            ])]"/>
        </record>
    </data>
</odoo>