// Shared with web client and login screen
.o_home_menu_background, .o_web_client.o_home_menu_background {
    background: {
        size: cover;
        attachment: fixed;
        color: var(--homeMenu-bg-color, #71639E);
        image: linear-gradient(to right bottom, rgba(113, 99, 158, 0.72) 0%, rgba(89, 78, 125, 0.41) 50%), url("/web_theme/static/img/background-light.svg"), url("/web_theme/static/img/home-menu-bg-overlay.svg");
    }
}
