<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="action_credit_account" model="ir.actions.act_window">
        <field name="name">Credit Account</field>
        <field name="res_model">credit.account</field>
        <field name="view_mode">list,kanban,form</field>
        <field name="search_view_id" ref="credit_account_view_search"/>
        <field name="context">{}</field>
        <field name="domain">[]</field>
    </record>

    <record id="action_credit_account_list" model="ir.actions.act_window.view">
        <field name="view_mode">list</field>
        <field name="view_id" ref="credit_account_view_list"/>
        <field name="act_window_id" ref="action_credit_account"/>
    </record>

    <menuitem id="credit_account_menu_root"
              name="Accounts"
              web_icon="account_partner,static/description/account_partner.png"
              groups="account_partner.group_account_partner_user"
              sequence="25"/>

    <menuitem id="contacts_account"
              name="Accounts"
              parent="credit_account_menu_root"
              action="action_partner_account"
              sequence="1"/>

    <menuitem id="credits_account"
              name="Credits"
              parent="credit_account_menu_root"
              action="action_credit_account"
              sequence="2"/>

    <menuitem id="account_partner"
              name="Accounts Partners"
              parent="credit_account_menu_root"
              groups="base.group_no_one"
              action="action_account_partner"
              sequence="3"/>

</odoo>